.father {
    background-color: white;
    opacity: 100%;
    display: flex;
    flex-flow: row wrap;
    height: 1000px;
    width: 1000px;
    /* Since the .father-div has to be a square and I can't set the height of a div to any percentage,
    I gave them exact pixel-values to work with for now - but they are totally adaptable */
}

div {
    background-color: white;
    opacity: 50%;
    height: 6.25;
    width: 6.25%;
}


